ul {
  margin-top: 15px;
}

.selected {
  background-color:lightsteelblue;
}

.text {
  font-size: 18px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.first-flex-item {
  flex-basis: 13%;
}

.flex-item {
  flex-basis: 85%;
}


